
  <nav>
    <div class="nav-wrapper my">
      <a [routerLink]="['/home']" class="center" style="padding-left: 10px"><img src="../../assets/LogoBuscaRepuestos3.png" width="180px" class="center"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/home']"><i class="material-icons white-text left">home</i>Home</a></li>
        <ul id="dropdown2" class="dropdown-content">
          <div class="row" *ngFor ="let x of listaCategorias">
            <li><a (click)="getRepuestosCategoria(x.id)">{{x.nombre}}</a></li>
          </div>
        
        </ul>
        <a class="btn dropdown-button transparent z-depth-0" data-activates="dropdown2">Categorías<i class="material-icons white-text left">build</i><i class="material-icons right">arrow_drop_down</i></a>
        <li><a href="badges.html"><i class="material-icons white-text left">build</i>Categorías</a></li>
        <li><a href="collapsible.html"><i class="material-icons white-text left">attach_money</i>Ofertas</a></li>
        <li><a href="collapsible.html"><i class="material-icons white-text left">help</i>Ayuda</a></li>

                  
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
        
<style>

  .my{
    background-color: #01579b;
  }
  /*.side-nav li.active {
    background-color: #01416d !important;
    border-left: 4px solid green !important; 
  }

    .side-nav li > a:hover {
    background-color: #0277bd !important;
  }

.padLeft{
  padding-left: 15px !important;
}

.padLeftBarra{
  padding-left: 0px !important;
}*/

</style>
