<body style="background-color: #01579b;">
<br>
<br>
<br>
<br>
<br>
<div class="container center">
	<i class="material-icons white-text" style="font-size: 170px">error_outline</i><br><br>
	<h3 class="white-text light">{{titulo}}</h3>
	<h4 class="white-text light">{{subTitulo}}</h4>
	<br>
	<br>
	<br>
	<br>
	<a [routerLink]="['/home']"class="waves-effect waves-light btn white"><i class="material-icons left blue-text">home</i></a>
	<br>
	<p></p>
</div>
<div class="container">
	<br>
	<br>
	<br>
	<br>
</div>
</body>

<style>
	body{
		style: blue}
</style>