<body>
  
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row center">
    <a class="center"><img src="../../assets/LogoBuscaRepuestos3.png" width="380px" class="center"></a>
    <br>
    <br>
  </div>
  
  <i class="material-icons left my2">search</i>
  <nav class="white">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input  type="search" required>
          <!-- <i class="material-icons left">search</i> -->
          <i class="material-icons rigth">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col m4">
    <br>
    <br>
    <br>
    <br>
    <a [routerLink]="['/repuestos']"class="waves-effect waves-light btn green">Buscar</a>
  </div>
</div>
</body>

<style>
  header, main, footer {
     padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
 }  

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #01579b;
}

main {
  flex: 1 0 auto;
}

nav .input-field label i {
  position: absolute;
  color: black important!;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav .input-field label.active i {
  color: #01579b;
}

.input-field input[type="search"] ~ .material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: #aeaeae;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
    float:left; 
    text-align:left
}

.my2{
    font-size: 29px;
    padding-top: 20px;
    padding-left: 20px;
    color: #aeaeae;
    position: absolute;
    float:left; 
    text-align:left
}
</style>