<barraNavegacion></barraNavegacion>
<br>
<br>
<br>
<br>

<div class="container">
  <nav>
    <div class="nav-wrapper white">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>
<br>
<br>
<br>
<!-- <div class="container"> -->

<div class="contianer" *ngIf="listaRepuestos.length==0">
	<div class="row center">
		<div class="col m12">
			<h4>No han encontrado repuestos disponibles de esta categoría</h4>
		</div>
	</div>
</div>

<div class="row ">
	<div class="col m2" *ngFor = "let x of listaRepuestos">
		  <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img src="../../assets/llantasq.PNG" width="80px" class="center">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">{{x.nombre}}<i class="material-icons right">more_vert</i></span>
		      <p><a href="#">${{x.precio}}</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">{{x.nombre}}<i class="material-icons right">close</i></span>
		      <p>Descripción: <span class="light"> {{x.descripcion}}</span></p>
		      <p>Encuentralo en:<span class="light"> {{x.inventario.nombre}}</span></p>
		    </div>
		  </div>
	</div>
</div>

<!-- </div> -->

            
<br>
<br>
<br>
<br>
<br>

<style>

nav .input-field label i {
  position: absolute;
  color: black important!;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav .input-field label.active i {
  color: #01579b;
}

.input-field input[type="search"] ~ .material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: #aeaeae;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
    float:left; 
    text-align:left
}
</style>
