/* You can add global styles to this file, and also import other style files */

/*header, main, footer {
   	 padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
 }  

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}*/
